* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 800px;
    margin: 0px auto;
    margin-top: 20px;
    border: 1px solid #ccc;
}

header{
    width: 100%;
    height: 100px;
    background-color: rgba(17, 17, 216, 0.842);
    text-align: center;
    color: white;
    line-height: 90px;
}

.clearFix{
    float: none;
    clear: both;
}


nav{
    background-color: #eee;
}

nav ul li{
    /*display: inline-block;*/
    display: block;
    float: left;
    border-right: 1px solid #ccc;
}

nav ul li a {
    display: block;
    color: #444;
    padding: 15px;
}

nav ul li:hover {
    background-color: rgba(42, 42, 236, 0.842);
    cursor: pointer;
}

nav ul li:hover a {
    color: white;
}

.content{
    width: 69%;
    float: left;
}

aside{
    width: 30%;
    border: 1px solid red;
    float: left;
    min-height: 500px;
    max-height: 60px;
    text-align: center;
    overflow-y: scroll;
}

.content .box{
    position: relative;
    width: 40%;
    height: 100px;
    background-color: #ccc;
    border: 1px solid gray;
    color: white;
    float: left;
    margin: 20px;
    text-align: center;
    line-height: 100px;
    color: black;
    text-transform: uppercase;
    box-shadow: 5px 5px 10px grey;
    border-radius: 50px 10px 4px 61px;
    /*border-radius: 9999px;*/
}

.content h1{
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding: 15px;
    color: #444;
    text-shadow: 1px 1px 2px gray;
}


footer{
    width: 100%;
    height: 55px;
    line-height: 55px;
    background-color: #eee;
    text-align: center;
    color: #444;
    border-top: 1px solid #ccc;
}

.innerShadow{
    box-shadow: 0px 0px 20px grey inset !important;
}

.freedom{
    position: absolute;
    top: 300px;
    left: 50%;
    border: 1px solid black;
    background-color: tomato;
    color: white;
    width: 50px;
    height: 50px;
    font-size: 13px;
}

.freedom1{
    z-index: 102;
}

.freedom2{
    background-color: green;
    top: 280px;
    left: 52%;
    z-index: 101;
}

.fixed{
    position: fixed;
    top: 50%;
    left: 0px;
    border: 1px solid black;
    background-color: blue;
    color: white;
    width: 50px;
    height: 50px;
    font-size: 13px;
}
