$generalFont: sans-serif;
$logoFont: Helvetica;
$middleWidth: 50%;
$marignCentered: 0px auto;
$lightGrayBorder: 1px solid rgba(225,225,226, 0.8);
$regularBorder: 1px solid #ccc;
$regularShadow: 0px 0px 10px #ccc;
$logoShadow: 1px 1px 0px #ccc;
$darkgray: #444;
$lighGray: #ccc;
$regularTransition: all 300ms;

*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    font-family: $generalFont;
}

#container{
    width: 80%;
    height: auto;
    margin: $marignCentered;
    border: $lightGrayBorder;
    box-shadow: $regularShadow;
    margin-top: 40px;
    margin-bottom: 40px;
    min-height: 600px;
}

#header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    border-bottom: $lightGrayBorder;
}

.logo{
    flex-grow: 1;
    //flex-basis: 65%;
    padding: 10px;
    margin-left: 20px;
    text-shadow: $logoShadow;
    text-transform: uppercase;

    h1{
        font-family: $logoFont;
        font-style: italic;
        font-weight: 900px;
        font-size: 35px;
    }
}

#menu{
    flex-grow: 1;
    height: 100%;
    padding-right: 20px;
    
    ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-end;
        height: 100%; 
        list-style: none;
    }

    a{
        text-transform: uppercase;
        color: $darkgray;
        padding: 15px;
        transition: $regularTransition;
    }

    a:hover{
        background-color: $lighGray;
        color: white;
    }
}

#content{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

#projects{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    flex-basis: 80%;
}

.project{
    flex-grow: 1;
    margin-top: 20px;
    margin-right: 20px;
    border: $regularBorder;

    img{
        width: 100%;
    }
}

.project-info{
    padding: 10px;

    a{
        font-size: 16px;
        color: black;
        transition: $regularTransition;
    }

    a:hover{
        color: green;
    }

    p{
        font-size: 16px;
        color: gray;
    }
}